@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;1,300&display=swap');
#tree, #tree1, #tree2 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 270px;
    min-height: 180px;
    

}

.tree {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;

}

.centered {
    position: fixed;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}